<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yandex Map - Краснодар</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/map.js" defer></script>
</head>
<body>
<header>
    <h1>Карта Краснодара с пробками</h1>
</header>
<main>
    <!-- Карта слева -->
    <div id="map" style="width: 60%; height: 1140px;"></div>

    <!-- Список происшествий справа -->
    <div id="events">
        <h2>Дорожные происшествия</h2>
    </div>
</main>
</body>
</html>
